<a class="btn new-article-btn" href="articles/new">New Article</a>
<% articles.forEach(article => { %>
<a class="article-card" href="articles/<%= article.slug %>">
    <h3 class="card-title">
        <%= article.title %>
    </h3>
    <div class="card-description"><%= article.description %></div>
    <div class="card-date"><%= article.createdAt.toLocaleDateString() %></div>
</a>

<form class="delete-form" action="articles/<%= article.id %>?_method=DELETE" method="POST">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>
<% }) %>